
{% extends "main.html.twig" %}

{% block title %}{{ parent() }} - Annonce {{idAnnonce}} {% endblock %}

{% block content %}
	<div id="page-annonceDetaillee">
		<div class='row'>
			<a class='col-lg-12' href="{{root}}"><button class='btn btn-default'>Retour</button></a>
		</div>
		<div class="row">
			<div class="col-lg-8">
				<h1> {{annonce.titre }} </h1> 
				<p>{{annonce.created_at}} - {{annonce.ville | upper}} {{annonce.code_postal}}</p>
				<p>{{annonce.descriptif}}</p>
				<p>{{annonce.prix}} €</p>
			</div>
			<div class="col-lg-4">
				<h2>Annonceur</h2>
				<p>{{annonce.prenom_a}} {{annonce.nom_a | upper}} </p>		
				<p>Tel : {{annonce.tel_a}} </p>	
				<p>Mail : {{annonce.mail_a}} </p>			
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<a href='{{annonceV.href}}'><button class='btn btn-success'>{{annonceV.name}}</button></a>
				<a href='{{annonceR.href}}'><button class='btn btn-danger'>{{annonceR.name}}</button></a>
				<a href='{{annonceSuivante.href}}'><button class='btn btn-primary'>{{annonceSuivante.name}}</button></a>
			</div>
		</div>				
	</div>
{% endblock %}