
{% extends "main.html.twig" %}

{% block title %}{{ parent() }} - Annonces non validées {% endblock %}

{% block content %}
<div id='page-index'>
    <div class="row">
        <div class="col-lg-12">
            <h1>Annonces non validées </h1>
			
			<ul class="list-group">
				{% for id, annonce in annonce %}
				<a href="{{root}}/annonces/{{annonce.id}}"><li class="list-group-item annonce">					
						<p> {{ annonce.created_at }} - {{ annonce.nom_a }} </p> 			
						<p> {{ annonce.titre }} </p> 
						<p> {{ annonce.prix }} €</p>								
				</li></a>					
				{% endfor %}  
			</ul>
			
        </div>
    </div>
</div>
	
{% endblock %}



 



