<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{root}}/web/sass/stylesheets/styles.css"/> <!--{{root}}/web/sass/stylesheets/alebrije_librairie.css-->
	<title>{% block title %}API Racoin {% endblock %}</title>	
</head>
<body>
    <!-- header -->
    <nav role="navigation">
        <div>
            <div>
                <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span>Toggle navigation</span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
				
				<div class="col-xs-8">
					<a href="{{root}}/">
	                    <img id='logo' src="{{root}}/web/images/logo.png" alt="logo" class="col-xs-8 col-md-5">
	                </a>
				</div>
				<p>Plateforme pour les gestionnaires de l'API racoin</p>
            </div>
			
            <div id="bs-example-navbar-collapse-1">
                <ul>
					<li>
						<a href="{{root}}">Liste annonces non validées</a> 
					</li>
                    <li>
                        <a href="{{root}}/logout">Déconnexion</a> 
                    </li>
                </ul>
            </div>
        </div>
    </nav>
	<div>
	<div id="content">
		{% block content %}

		{% endblock %}
	</div>

		<hr class="col-sm-12">
		<footer>
			<p class="col-sm-12">Racoin.net (c) 2016</p>
		</footer>
	</div>
	<!-- jQuery -->
    <script src="{{root}}/web/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{root}}/web/sass/javascripts/bootstrap.min.js"></script>
</body>
</html>
