// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

//@import "compass";

body>div:nth-child(2) {
	@extend .container;
}

nav{
	@extend .navbar ;
	@extend .navbar-inverse;
	@extend .navbar-fixed-top;
	background-color:#9b4e82;
}

nav>div:first-of-type{
	@extend	.container;
}

nav>div:first-of-type+div{
	@extend .navbar-header;
}

nav>div>div>button{
	@extend .navbar-toggle;
}

nav>div>div>button>span:first-of-type{
	@extend .sr-only;
}

nav>div>div>button>span:nth-of-type(2),nav>div>div>button>span:nth-of-type(3),nav>div>div>button>span:nth-of-type(4){
	@extend .icon-bar;
}

nav>div>div>a{
	@extend .navbar-brand;
}

nav>div>div:nth-of-type(2){
	@extend .collapse;
	@extend .navbar-collapse;
}

nav>div>div:nth-of-type(2)>ul{
	@extend .nav;
	@extend .navbar-nav;
}

nav{
	padding:1%;
}

#logo{
	width:25%;
}

hr, footer{
	@extend .row;
	@extend .text-center;
}

hr+div{
	@extend .container;
}

#page-accueil, #page-erreur-404, #page-index{
	@extend .container;
	padding-top: 50px;
}

#page-annonceDetaillee{
	padding-top: 80px;
}

#content{
	padding-top: 50px;
}

#page-index div div h1{
	padding-bottom:0.8%;
	padding-top:0.8%;
}

/*------- Page connexion ----------*/
#page-accueil+div:first-of-type{
	@extend .row;
}

#page-accueil>div>div>form{
	@extend .form-horizontal;
	@extend .well;
}

#page-accueil>div>div>form>fieldset>div, #page-accueil>div>div>form>fieldset:last-of-type+div{
	@extend .form-group;
}

#page-accueil>div>div>form>fieldset>div>label{
	@extend .control-label;
}

#page-accueil>div>div>form>fieldset>div>div>input[type="text"], #page-accueil>div>div>form>fieldset>div>div>input[type="password"]  {
	@extend .form-control;
}

#page-accueil button{
	@extend	.btn;
	@extend	.btn-default;
}
